.light-div {
  background-color: white;
  border-radius: 1rem;
  /*z-index: 1000;*/
  height: 22rem;
  padding: 1rem;
  width: 65%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-wrap: nowrap;*/
  /*align-content: center;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

